.home {

  overflow-x: hidden;
  padding-bottom: 50px;

  .iconfont {
    font-weight: 700;
    font-size: 20px;
  }

  .am-tab-bar-bar {
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.08);
  }
}