.swiper {
    height: 212px;
}

.nav {
    padding: 10px 0;
    img {
        width: 48px;
    }
    h2 {
        font-weight: normal;
        font-size: 13px;
        margin-top: 7px;
    }
    .am-flexbox-item {
        text-align: center;
    }
}

.group {
    background-color: #eee;
    padding: 0 10px 10px;
    .title {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        .more {
            font-weight: normal;
            color: #4e4e4e;
        }
    }
}
