.swiper {
    height: 212px;
}

.nav {
    padding: 10px 0;
    img {
        width: 48px;
    }
    h2 {
        font-weight: normal;
        font-size: 13px;
        margin-top: 7px;
    }
    .am-flexbox-item {
        text-align: center;
    }
}
