html, body {
  font-family: 'Microsoft YaHei', serif;
  color: #333;
  background-color: #fff;
}

html, body, #root, .App {
  height: 100%;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
  margin: 0;
  padding: 0;
  user-select: none;
}
